{% extends "base.html" %}
{% block title %}Add Record{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_record.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Add New Health Record</h2>
        <form method="POST" action="{{ url_for('main.add_record') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }} {{ form.title }}
            </div>
            <div>
                {{ form.date.label }} {{ form.date }}
            </div>
            <div>
                {{ form.description.label }} {{ form.description }}
            </div>
            <div>
                {{ form.symptoms.label }} {{ form.symptoms }}
            </div>
            <div>
                {{ form.medications.label }} {{ form.medications }}
            </div>
            <div>
                {{ form.diagnosis.label }} {{ form.diagnosis }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
