{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block content %}
    <h2>Dashboard</h2>
    <a class="btn" href="{{ url_for('main.new_record') }}">Add New Record</a>
    <ul>
        {% for record in records %}
            <li>
                <a href="{{ url_for('main.view_record', record_id=record.id) }}">{{ record.title }}</a>
                <span class="date">{{ record.date_posted }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
